<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/<%= photo.user_id %>"><%= photo.user.username %></a>
          <small>
            <%= time_ago_in_words(photo.created_at) %>
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/<%= photo.id%>">
          <img src="<%= photo.image %>" class="img-responsive">
        </a>

        <p>
          <% if current_user.likes.find_by(photo_id: photo.id) %>
            <a href="/delete_like/<%= current_user.likes.find_by(photo_id: photo.id).id %>" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
              <% users_likes = photo.likes.pluck(:user_id) %>
              <% usernames = User.where(:id => users_likes).pluck(:username) %>

              <% if usernames.length > 1 %>
                <%= usernames.to_sentence %> like this
              <% elsif usernames.length >0 %>
                <%= usernames.to_sentence %> likes this
              <% else %>
                be the first to like this
              <% end %>
          <% else %>
            <form action="/create_like" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" name="photo_id" value="<%= photo.id%>">

              <input type="hidden" name="user_id" value="<%= current_user.id %>">

              <button class="btn btn-link">
                <i class="fa fa-heart-o"></i>
              </button>
              <small class="text-muted">
                <% users_likes = photo.likes.pluck(:user_id) %>
                <% usernames = User.where(:id => users_likes).pluck(:username) %>

                <% if usernames.length > 1 %>
                  <%= usernames.to_sentence %> like this
                <% elsif usernames.length >0 %>
                  <%= usernames.to_sentence %> likes this
                <% else %>
                  be the first to like this
                <% end %>
              </small>
            </form>
          <% end %>

        </p>

        <ul class="media-list">
            <li class="media">
              <div class="media-body">
                <h6 class="media-heading">
                  <a href="/users/<%= photo.user_id %>"><%= photo.user.username %></a>
                  <small>
                    <%= time_ago_in_words(photo.updated_at) %>
                  </small>
                </h6>
                <%= photo.caption %>
              </div>
            </li>
          <% photo.comments.each do |comment| %>
            <li class="media">
              <div class="media-body">
                <h6 class="media-heading">
                  <a href="/users/<%= comment.user_id %>"><%= comment.user.username %></a>
                  <small>
                    <%= time_ago_in_words(comment.created_at) %>
                  </small>
                </h6>
                <%= comment.body %>
              </div>
            </li>
          <% end %>
          <form action="/create_comment" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" name="photo_id" value="<%= photo.id %>">
            <input type="hidden" name="user_id" value="<%= current_user.id %>">

            <!-- Label and input for body -->
            <div class="form-group">
              <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required="">
            </div>
          </form>
        </ul>
      </div>
    </div>
  </div>
</div>
